---

---
<style>
    .container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 48px 172px;
    }

    p {
        max-width: 960px;
    }

    .tech,
    li {
        color: var(--blue-accent-color);
        font-weight: bold;
        margin: 6px 0;

        &::marker {
            color: #e7e7e7;
        }
    }

    .important {
        color: var(--red-accent-color);
    }

    p.info {
        line-height: 1.5rem;
    }

    .tech-list {
        margin-top: 16px;
        padding: 16px 28px 16px 28px;
        list-style: circle;

        background-color: #16232c;
        border: 1px solid #1a343b;
        border-radius: 10px;
        max-width: fit-content;
    }
</style>
<div id="about">
    <h1>Über mich</h1>
    <div class="container">
        <p class="info">
            Willkommen auf meiner Seite! Ich bin <strong>Henrik</strong>, ein leidenschaftlicher <strong>Fullstack-Webentwickler</strong> mit einer Ausbildung zum <strong class="important">Fachinformatiker für Anwendungsentwicklung</strong> (Abschlussnote <strong class="important">1,0</strong> in der Berufsschule, <strong class="important">1,5</strong> IHK).
            Ich liebe es, Ideen vom ersten Prototypen bis zum fertigen Deployment in <strong>funktionierende, performante Anwendungen</strong> zu verwandeln.
        </p>
        <div>
            <p class="info">
                In meinen Projekten setze ich moderne Technologien ein, wie zum Beispiel
            </p>
            <ul class="tech-list">
                <li>Next.js</li>
                <li>TypeScript</li>
                <li>Golang</li>
                <li>Docker</li>
                <li>AWS</li>
                <li>und viele mehr</li>
            </ul>
        </div>
        <p class="info">
            Dabei kombiniere ich sauberen Code mit klarer Architektur und lege Wert auf gute Developer Experience. Mein aktuelles Projekt  ist Lorcle, ein täglich aktualisiertes Wordle-inspiriertes Spiel für das Lorcana TCG, das ich als Fullstack-Anwendung mit <strong>Frontend, Backend, Cron-Jobs und Live-Deployment</strong> umgesetzt habe.
        </p>
        <p class="info">
            Ich bilde mich kontinuierlich weiter, u. a. durch Zertifikate in <strong class="important">AWS Generative AI Applications, AWS Cloud Technical Essentials, Google Cloud Fundamentals</strong> und <strong class="important">Professional Scrum Master/Product Owner</strong>. Diese Mischung aus technischem Know-how und agilem Mindset hilft mir, nicht nur guten Code zu schreiben, sondern auch im Team effektiv zusammenzuarbeiten und Projekte voranzubringen.
        </p>
        <p class="info">
            Mein Ziel ist es Lösungen zu entwickeln, die nicht nur funktionieren, sondern auch nützlich sind und Spaß machen. Dabei ist es mir wichtig immer wieder <strong class="tech">neue Technologien und Methoden</strong> praktisch anzuwenden und zu meistern.
        </p>
    </div>
</div>