---

import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import '../global.css';
---

<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Henrik Schnell</title>
    </head>
    <body>
        <Navigation />
        <div id="content">
            <slot />
        </div>
        <Footer />
    </body>
    <style>

    </style>
</html>